@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
/* 16 px */
/* 48px */
/* 32px */
.userLoggedCard {
  display: none;
}
@media screen and (max-width: 768px) {
  .userLoggedCard {
    display: block;
    background-color: rgb(92, 184, 92);
    width: 80%;
    margin: 50px auto;
    display: flex;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;
  }
  .userLoggedCard h2::first-letter {
    color: #000000;
  }
  .userLoggedCard p {
    color: #000000;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .userLoggedCard span {
    text-decoration: underline;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .userLoggedCard span:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .userLoggedCard a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
  .userLoggedCard a:hover {
    text-decoration: underline;
  }
}

.main .main_FirstDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main .main__title {
  font-family: "Protest Riot", "cursive";
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
  color: var(--preto);
  text-shadow: var(--title-shadow);
  letter-spacing: 2px;
}
.main .main__title::first-letter {
  color: rgb(92, 184, 92);
}
@media screen and (max-width: 768px) {
  .main .main__title {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
.main .main__paragraph {
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #414141;
  /* background-color: rgba(255, 0, 0, 0.486); */
  text-align: start;
  min-height: 144px;
  font-size: 1.5rem;
  /* font-size: 1.2em; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .main .main__paragraph {
    font-size: 1rem;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 768px) {
  .main {
    margin-top: 25px !important;
  }
}

.lista_funcao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@keyframes leafMove {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(10px);
  }
}
.paragraph {
  color: #414141;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  text-indent: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 300;
  }
}

.paragraph__sub {
  color: #414141;
  font-size: 1.2rem;
  letter-spacing: 2.5px;
  text-indent: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .paragraph__sub {
    font-size: 1.5rem;
  }
}

.listGraph {
  list-style: disc;
  font-family: "Roboto", sans-serif;
}
.listGraph li {
  margin: 5px 0px;
}

.div_img {
  overflow: hidden;
}
.div_img img {
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);
}
.div_img img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.div_img .div_img__text {
  background-color: #414141;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease all;
  opacity: 0;
  transform: translateY(-25px);
  letter-spacing: 2px;
}
.div_img .div_img__text p {
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.div_img:hover .div_img__text {
  opacity: 1;
  transform: translateY(0px);
}

.artigo {
  margin-top: 50px;
  margin-bottom: 200px;
}

.cta {
  padding: 20px 5px;
  background-color: rgb(92, 184, 92);
  color: white;
  font-family: "Protest Riot", "cursive";
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
}
@media screen and (max-width: 768px) {
  .cta {
    width: 100%;
    font-size: 1.5rem;
  }
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}/*# sourceMappingURL=Home.module.css.map */