@import '../variables';

.userLoggedCard{
    display: none;

    @media screen and (max-width:768px)
    {
        display: block;
        background-color: $cor1;
        width: 80%;
        margin: 50px auto;
        display: flex;
        padding: 25px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        letter-spacing: 2px;
        h2::first-letter{
            color: $preto;
            
        }

        p{
            color: $preto;
            letter-spacing: 2px;
            font-weight: bold;
        }

        span{
            text-decoration: underline;
            font-size: $font-size-3;
            letter-spacing: 2px;
            &:hover{
                color: white;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        a{
            text-decoration: none;
            color: $preto;
            letter-spacing: 2px;
            font-size: $font-size-2;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.main{
    // background-color: rgba(0, 0, 255, 0.473);

    .main_FirstDiv{
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .main__title{
        // background-color: red;
        font-family: $fonte-destaque;
        font-weight: 400;
        font-style: normal;
        font-size: $font-size-1;
        color: var(--preto);
        text-shadow: var(--title-shadow);
        letter-spacing: 2px;

        &::first-letter{
            color: $cor1;
        }

        @media screen and (max-width:768px)
        {
            font-size: $font-size-2;
            letter-spacing: 1px;
        }
    }

    .main__paragraph{
        letter-spacing: 1px;
        font-family: $fonte-texto;
        font-weight: 500;
        font-style: normal;
        color: $cinza;
        /* background-color: rgba(255, 0, 0, 0.486); */
        text-align: start;
        min-height: 144px;
        font-size: $font-size-2;
        /* font-size: 1.2em; */
        text-shadow: $text-shadow;

        @media screen and (max-width:768px)
        {
            font-size: $font-size-4;
            font-size: $font-size-4;
            line-height: 1.8rem;
            font-weight: 300;

        }
    }

    @media screen and (max-width: 768px)
    {
        margin-top: 25px !important;
    }
}

.lista_funcao{
    // background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@keyframes leafMove{
    0%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(10px);
    }
}



.paragraph{
    color: $cinza;
    font-size: $font-size-2;
    letter-spacing: 2.5px;
    text-indent: 1rem;
    text-shadow: $text-shadow;

    @media screen and (max-width:768px)
    {
        font-size: $font-size-4;
        line-height: 1.8rem;
        font-weight: 300;
    }
}

.paragraph__sub{
    
    color: $cinza;
    font-size: $font-size-3; 
    @media screen and (max-width: 768px){font-size: $font-size-2}
    letter-spacing: 2.5px;
    text-indent: 1rem;
    text-shadow: $text-shadow;
}

.listGraph{
    list-style: disc;
    font-family: $font-family;

    li{
        margin: 5px 0px;
    }
}


.div_img
{
    // background-color: rgba(0, 0, 255, 0.363);
    overflow: hidden;
    img{
        // background-color: red;
        // padding: 5px;
        transition: all .5s ease;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);

        &:hover{
            // filter: blur(0.1rem);
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    .div_img__text
    {
        background-color: $cinza;
        padding: 2px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: .5s ease all;
        opacity: 0;
        transform: translateY(-25px);
        letter-spacing: 2px;
    

        p{    
            color: white;
            padding: 0px;
            margin: 0px;
            font-family: $font-family;
            // font-weight: bold;
        }
       
    }

    &:hover{
        .div_img__text{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.artigo
{
    margin-top: 50px;
    margin-bottom: 200px;
}

.cta
{
    padding: 20px 5px;
    background-color: $cor1;
    color: white;
    font-family: $fonte-destaque;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);

    @media screen and (max-width: 768px)
    {
        width: 100%;
        font-size: 1.5rem;
    }
}

.centralizar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    @media screen and (max-width:768px)
        {
            font-size: $font-size-2;
            letter-spacing: 1px;
        }
}