@import '../variables';

.main
{
    // background-color: red;
    
    max-width: 800px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto 200px auto;
    background-color: rgba(255, 255, 255, 0.795);
    @media screen and (min-width: 768px){border-radius: 20px;}
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.555);
    // padding: 20px 0px;

    &::before
    {
        content: "";
        position: absolute;
        background-image: url('https://plus.unsplash.com/premium_photo-1683133531613-6a7db8847c72?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-repeat: no-repeat;
        
        background-position-y: center;
        background-position-x: center;
        /* Posiciona o pseudo-elemento absolutamente em relação ao elemento pai */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.884);
        /* Cor de fundo semi-transparente (aqui, um preto com 50% de opacidade) */
        z-index: -1;
    }

    &::after{
        content: "";
        position: absolute;
    
        /* Posiciona o pseudo-elemento absolutamente em relação ao elemento pai */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #5cb85c9c;
        /* Cor de fundo semi-transparente (aqui, um preto com 50% de opacidade) */
        z-index: -1;
    }
    .main__title{
        // background-color: green;
        font-family: $fonte-destaque;
        font-size: $font-size-1;
        text-shadow: $title-shadow;
        &::first-letter{
            color: $cor1;
        }
    }

    .main__paragraph{
        // background-color: yellow;
        margin: 0px 40px;
        letter-spacing: $letter-space;
        font-family: $fonte-texto;
        color: $font-color;
        font-size: $font-size-3;
        text-shadow: $text-shadow;
    }

    .main__btn
    {
        height: 41px;
        background-color: $cor1;
        color: rgb(245, 245, 245);
        font-weight: bold;
        width: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $btn-shadow;
        // margin: auto;
        margin-top: 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.5s;
    }

  
    @media screen and (max-width:768px)
    {
        margin: 50px auto;
    }


    
}

article
{
    background-color: white;
    padding-top: 50px;
    h2{
        font-size: $font-size-1;
        text-align: center;
        font-family: $fonte-destaque;
        &::first-letter{
            color: $cor1;
        }
    }

    .pontosList{
        // background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px  0px;

        @media screen and (min-width:768px)
        {
            max-width: 1000px;
            margin: auto;
        }

       
    }
}

.article
{
    margin-bottom: 150px;
    .articleTitle
    {
        font-size: $font-size-1;
        font-family: $fonte-destaque;
        text-shadow: $title-shadow;
        margin-bottom: 1.5rem;
    }

    .articleParagraph
    {
        font-size: $font-size-3;
        text-indent: 2rem;
        text-shadow: $text-shadow;
        letter-spacing: 2px;
        line-height: 1.5rem;
    }

    .subTitle{
        font-family: $fonte-destaque;
        font-size: $font-size-2;
        margin: 1.5rem 0px;
    }
}