@import '../variables';
.profileInfo
{
    max-width: 800px;
    margin: 50px auto;
    font-family: $fonte-texto;
    .bemVindo
    {
        font-family: $fonte-destaque;

        // font-size: $font-size1;
        font-size: $font-size-1;
        text-align: center;
        span{
            font-size: $font-size-1;
            color: $cor1;
        }
    }

    h3{
        font-family: $fonte-destaque;
        font-size: $font-size-2;
        color: $cinza;
    }

    
}