@import '../variables';

.footer{
    margin-top: 200px;
    background-image: linear-gradient(to bottom, #5cb85c, $cor1,$cor1,#55a755);
    // background-color: #428542 ;

    .footer_menu{
        list-style: none;
        // background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .footer_menu__item
        {
            padding: 5px 10px;
            margin: 20px 40px;
            font-weight: bold;
            a{
                text-decoration: none;
                letter-spacing: 2px;
                color: $cinza;

                &:hover{
                    color: white;
                }

            }// background-color: red;

            .icon
            {
                font-size: 19px;
                margin: 0px 5px;
                position: relative;
                top: -3px;
            }
        }
    }

    .cst{
        // background-color: pink;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .copyright{
        p{
            font-size: $font-size-2;
        }
        // background-color: red;
    }
}