@import '../variables';

.header{
    background-color: white;
    height: 120px;
    z-index: 10;
    @media screen and (min-width: 769px){
        position: relative;
        margin-bottom: 50px;
    }
    // border-bottom: 1px solid $cinza;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 100px;
    .logo_link
    {
        text-decoration: none;
        margin: 0px 25px;
        img{
            width: 100px;
            transform: scale(1.5);
            // background-color: red;
        }
    }

    .hidden__navMenu{
        display: none;
        transition: all .8s ease;
    }

    .hidden__checkbox{
        display: none;
    }

    .navMenu{
        // background-color: rgba(0, 0, 255, 0.349);
        list-style: none;
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 60%;
        justify-content: space-around;
        align-items: center;
        padding: 0px;

        .navMenu__item{

            .navMenu__item__link{
                text-decoration: none;
                font-weight: bold;
                color: $cinza;
                font-size: $font-size-3;

                &:hover{
                    color: $preto;
                }
            }

            .hiddenLine{
                width: 1%;
                height: 5px;
                background-color: transparent;
                transition: all .5s ease;
                border-radius: 0px 15px 15px 0px;
            }

            &:hover{
                .hiddenLine{
                    width: 100%;
                    background-color: $cor1;
                }
            }
        }
    }

    .hidden__checkbox_icon
    {
        display: none;
    }
    
    @media screen and (max-width:576px){
        background-image: url('../../img/header_bg/bg-440.webp'); 
        background-repeat: no-repeat;
    }
    @media (min-width:576px) and (max-width: 768px){
        background-image: url('../../img/header_bg/bg-770.webp');
        background-repeat: no-repeat;
    }
    @media (min-width:800px) and (max-width: 1050px)
    {
        background-image: url('../../img/header_bg//bg-1050.webp');
        background-repeat: no-repeat;
    }
    @media (min-width:1060px) and (max-width: 1500px)
    {
        background-image: url('../../img/header_bg/bg-1450.webp');
        background-repeat: no-repeat;
    }
    @media (min-width: 1510px) and (max-width:1840px)
    {
        background-image: url('../../img/header_bg/bg-1700.webp');
        background-repeat: no-repeat;
    }
    @media (min-width: 1850px) and (max-width: 2000px)
    {
        background-image: url('../../img/header_bg/bg-1940.webp');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
   
    @media screen and (max-width: 768px)
    {
       padding: 0px;

        position: sticky !important;
        .hidden__navMenu{
            display: block;
            position: fixed;
            top: 0%;
            transform: translateX(-100%);
            // right: 50%;
            padding-bottom: 25px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // background-color: rgba(255, 255, 255, 0.849);
            background-color: #4c974c;
            padding-top: 30px;
            list-style-type: none;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.384);
            .navMenu__item{
                // background-color: blue !important;
                padding: 2px;
                margin: 10px 0px;
                // width: 50%;
                
 
                .navMenu__item__link{
                    // background-color: red;
                    // width: 100% !important;
                    background-color: $cor1;
                    text-decoration: none;
                    font-weight: bold;
                    // min-width: 50%;
                    // width: 30px;
                    // color: $cinza;
                    color: white;
                    letter-spacing: 3px;
                    font-size: $font-size-3;
                    padding: 5px 10px;
                    width: 150px;
                    &:hover{
                        color: $preto;
                    }
                }

                &:hover{
                    color: $preto;
                }
            }
        }

        .hidden__checkbox_icon{
            display: block;
            width: 30px;
            height: 30px;
            z-index: 999;
            position: fixed;
            right: 3rem;
            transition: all 1s ease;
        }

        .hidden__checkbox{
            width: 25px;
            background-color: blue;
            height: 25px;
            display: block;
            z-index: 1000;
            position: fixed;
            opacity: 0;
            right: 3rem;
    
            
        }

    
        .hidden__checkbox:checked ~  .hidden__navMenu{
            transform: translateX(0%);
        }

        .hidden__checkbox:checked ~ .hidden__checkbox_icon{
            transform: skew(25deg);
            color: white;
        }

        
    
        .navMenu{
            display: none;
        }
    }

    .userInfo
    {
    height: 50%;
    position: absolute;
    right: 2rem;
    display: flex;
    // background-color: green;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 320px;
    padding: 0px 0px 15px 0px;
    color: white;
   .infoLink
   {
    // background-color: red;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
   }
    .userLogged
    {
        
        // background-color: red;
        font-family: $font-family;
        letter-spacing: 3px;
        font-size: $font-size-3;
    

        background-color: $cor1;
        color: white;
        padding: 16px 18px;
        border-radius: 5px;

        a{
            font-family: $font-family;
        letter-spacing: 3px;
        font-size: $font-size-3;
        color: white;
        text-decoration: none;
        }
    
        
        text-shadow: $title-shadow;

        button{
            border: none;
            background-color: transparent;
         
            font-size: $font-size-3;
            color: white;
            font-weight: bold;
        }
        .lineUser
        {
            width: 100%;
            height: 3px;
            border: 1px solid $cor1;
            background-color: $cor1;
            animation: linemove 4s infinite linear;
        }
    }

    a{
        color: $cinza;

        &:hover{
            color: $preto;
        }
    
    }
    
    

        @media screen and (max-width: 768px)
        {
            display: none;
        }
    }
}

@keyframes linemove{
    0%{
        width: 1%;
        border-color: transparent;
    }

    25%{
        width: 50%;
        border-color: $cor1;
    }

    50%{
        width: 100%;
        border-color: $cor1;
    }

    75%{
        width: 50%;
        border-color: $cor1;
    }

    100%{
        width: 1%;
        border-color: $cor1;
    }
}