@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

$cor1: #5cb85c;

$preto: #000000;
$cinza: #414141;
$branco: rgb(245, 245, 245);
$font-family: "Roboto", sans-serif;
$font-color: $cinza;
$font-size: 100%; /* 16 px */


$fonte-destaque: "Protest Riot", 'cursive';;
$fonte-sub: "Protest Strike", sans-serif;
$fonte-texto: "Roboto", sans-serif;
$font-size-1: 2.25rem;   /* 48px */
$font-size-2: 1.5rem;    /* 32px */
$font-size-3: 1rem;
$font-size-4: 0.75rem;   /* 16px */

$btn-shadow:-3px 3px 10px 0px rgba(0, 0, 0, 0.105);
$letter-space: 1px;

$title-shadow: 0px 5px 5px rgba(0, 0, 0, 0.062);

$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);